In [1]:
import pandas as pd
import functions as func
import yaml

try:
    with open("../config.yaml", "r") as file:
        config = yaml.safe_load(file)
except:
    print("The config.yaml file was not found in the main folder!")

df = pd.read_csv(config['data_raw']['file3'])

df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54608.0,55811.0,56682.0,57475.0,58178.0,58782.0,...,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0,106445.0,106277.0,NaN
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130692579.0,134169237.0,137835590.0,141630546.0,145605995.0,149742351.0,...,600008424.0,616377605.0,632746570.0,649757148.0,667242986.0,685112979.0,702977106.0,720859132.0,739108306.0,NaN
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8622466.0,8790140.0,8969047.0,9157465.0,9355514.0,9565147.0,...,33753499.0,34636207.0,35643418.0,36686784.0,37769499.0,38972230.0,40099462.0,41128771.0,42239854.0,NaN
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,97256290.0,99314028.0,101445032.0,103667517.0,105959979.0,108336203.0,...,408690375.0,419778384.0,431138704.0,442646825.0,454306063.0,466189102.0,478185907.0,490330870.0,502789511.0,NaN
4,Angola,AGO,"Population, total",SP.POP.TOTL,5357195.0,5441333.0,5521400.0,5599827.0,5673199.0,5736582.0,...,28127721.0,29154746.0,30208628.0,31273533.0,32353588.0,33428486.0,34503774.0,35588987.0,36684202.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Population, total",SP.POP.TOTL,990150.0,1014211.0,1038618.0,1063175.0,1087700.0,1111812.0,...,1788196.0,1777557.0,1791003.0,1797085.0,1788878.0,1790133.0,1786038.0,1768086.0,1756374.0,NaN
262,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,5542459.0,5646668.0,5753386.0,5860197.0,5973803.0,6097298.0,...,28516545.0,29274002.0,30034389.0,30790513.0,31546691.0,32284046.0,32981641.0,33696614.0,34449825.0,NaN
263,South Africa,ZAF,"Population, total",SP.POP.TOTL,16520441.0,16989464.0,17503133.0,18042215.0,18603097.0,19187194.0,...,55876504.0,56422274.0,56641209.0,57339635.0,58087055.0,58801927.0,59392255.0,59893885.0,60414495.0,NaN
264,Zambia,ZMB,"Population, total",SP.POP.TOTL,3119430.0,3219451.0,3323427.0,3431381.0,3542764.0,3658024.0,...,16248230.0,16767761.0,17298054.0,17835893.0,18380477.0,18927715.0,19473125.0,20017675.0,20569737.0,NaN
265,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3806310.0,3925952.0,4049778.0,4177931.0,4310332.0,4447149.0,...,14154937.0,14452704.0,14751101.0,15052184.0,15354608.0,15669666.0,15993524.0,16320537.0,16665409.0,NaN

In [2]:
#droping trash columns

df = df.drop(["Country Name","Indicator Name","Indicator Code","Unnamed: 68"],axis=1)

In [8]:
#remaning col
df.rename(columns={'Country Code': 'country_code'})

,country_code,1960,1970,1980,1990,2000,2010,2020
0,ABW,54608.0,59106.0,62267.0,65712.0,89101.0,100341.0,106585.0
1,AFE,130692579.0,172475766.0,230967858.0,309890664.0,401600588.0,523459657.0,685112979.0
2,AFG,8622466.0,10752971.0,12486631.0,10694796.0,19542982.0,28189672.0,38972230.0
3,AFW,97256290.0,121424797.0,157825609.0,206739024.0,269611898.0,356337762.0,466189102.0
4,AGO,5357195.0,6029700.0,8330047.0,11828638.0,16394062.0,23364185.0,33428486.0
...,...,...,...,...,...,...,...,...
261,XKX,990150.0,1238238.0,1589395.0,1964986.0,1823286.0,1792563.0,1790133.0
262,YEM,5542459.0,6843607.0,9204938.0,13375121.0,18628700.0,24743946.0,32284046.0
263,ZAF,16520441.0,22368306.0,29463549.0,39877570.0,46813266.0,51784921.0,58801927.0
264,ZMB,3119430.0,4281671.0,5720438.0,7686401.0,9891136.0,13792086.0,18927715.0
265,ZWE,3806310.0,5202918.0,7049926.0,10113893.0,11834676.0,12839771.0,15669666.0

In [3]:
#drop years that wont be used

#cleaning 19**
for x in range(6,10):
    for y in range(1,10):
        drop_year = str(19)+str(x)+str(y)
        df.drop(drop_year, axis=1, inplace= True)

In [4]:
df

,Country Code,1960,1970,1980,1990,2000,2001,2002,2003,2004,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,ABW,54608.0,59106.0,62267.0,65712.0,89101.0,90691.0,91781.0,92701.0,93540.0,...,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0,106445.0,106277.0
1,AFE,130692579.0,172475766.0,230967858.0,309890664.0,401600588.0,412001885.0,422741118.0,433807484.0,445281555.0,...,583651101.0,600008424.0,616377605.0,632746570.0,649757148.0,667242986.0,685112979.0,702977106.0,720859132.0,739108306.0
2,AFG,8622466.0,10752971.0,12486631.0,10694796.0,19542982.0,19688632.0,21000256.0,22645130.0,23553551.0,...,32716210.0,33753499.0,34636207.0,35643418.0,36686784.0,37769499.0,38972230.0,40099462.0,41128771.0,42239854.0
3,AFW,97256290.0,121424797.0,157825609.0,206739024.0,269611898.0,277160097.0,284952322.0,292977949.0,301265247.0,...,397855507.0,408690375.0,419778384.0,431138704.0,442646825.0,454306063.0,466189102.0,478185907.0,490330870.0,502789511.0
4,AGO,5357195.0,6029700.0,8330047.0,11828638.0,16394062.0,16941587.0,17516139.0,18124342.0,18771125.0,...,27128337.0,28127721.0,29154746.0,30208628.0,31273533.0,32353588.0,33428486.0,34503774.0,35588987.0,36684202.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,XKX,990150.0,1238238.0,1589395.0,1964986.0,1823286.0,1840256.0,1846786.0,1839425.0,1832239.0,...,1812771.0,1788196.0,1777557.0,1791003.0,1797085.0,1788878.0,1790133.0,1786038.0,1768086.0,1756374.0
262,YEM,5542459.0,6843607.0,9204938.0,13375121.0,18628700.0,19143457.0,19660653.0,20188799.0,20733406.0,...,27753304.0,28516545.0,29274002.0,30034389.0,30790513.0,31546691.0,32284046.0,32981641.0,33696614.0,34449825.0
263,ZAF,16520441.0,22368306.0,29463549.0,39877570.0,46813266.0,47229714.0,47661514.0,48104048.0,48556071.0,...,54729551.0,55876504.0,56422274.0,56641209.0,57339635.0,58087055.0,58801927.0,59392255.0,59893885.0,60414495.0
264,ZMB,3119430.0,4281671.0,5720438.0,7686401.0,9891136.0,10191964.0,10508294.0,10837973.0,11188040.0,...,15737793.0,16248230.0,16767761.0,17298054.0,17835893.0,18380477.0,18927715.0,19473125.0,20017675.0,20569737.0
265,ZWE,3806310.0,5202918.0,7049926.0,10113893.0,11834676.0,11910978.0,11984644.0,12075828.0,12160881.0,...,13855753.0,14154937.0,14452704.0,14751101.0,15052184.0,15354608.0,15669666.0,15993524.0,16320537.0,16665409.0

In [5]:

#cleaning 20**
for x in range(0,2):
    for y in range(1,10):
        drop_year = str(20)+str(x)+str(y)
        df.drop(drop_year, axis=1, inplace= True)

In [6]:
#missing 3 columns

df.drop(["2021", "2022", "2023"], axis=1, inplace= True)

In [7]:
df

,Country Code,1960,1970,1980,1990,2000,2010,2020
0,ABW,54608.0,59106.0,62267.0,65712.0,89101.0,100341.0,106585.0
1,AFE,130692579.0,172475766.0,230967858.0,309890664.0,401600588.0,523459657.0,685112979.0
2,AFG,8622466.0,10752971.0,12486631.0,10694796.0,19542982.0,28189672.0,38972230.0
3,AFW,97256290.0,121424797.0,157825609.0,206739024.0,269611898.0,356337762.0,466189102.0
4,AGO,5357195.0,6029700.0,8330047.0,11828638.0,16394062.0,23364185.0,33428486.0
...,...,...,...,...,...,...,...,...
261,XKX,990150.0,1238238.0,1589395.0,1964986.0,1823286.0,1792563.0,1790133.0
262,YEM,5542459.0,6843607.0,9204938.0,13375121.0,18628700.0,24743946.0,32284046.0
263,ZAF,16520441.0,22368306.0,29463549.0,39877570.0,46813266.0,51784921.0,58801927.0
264,ZMB,3119430.0,4281671.0,5720438.0,7686401.0,9891136.0,13792086.0,18927715.0
265,ZWE,3806310.0,5202918.0,7049926.0,10113893.0,11834676.0,12839771.0,15669666.0

In [11]:
#saving cleaned data frame
df.to_csv('../data/clean/tourism_data.csv')