In [55]:
import pandas as pd
import functions as func
import yaml

try:
    with open("../config.yaml", "r") as file:
        config = yaml.safe_load(file)
except:
    print("The config.yaml file was not found in the main folder!")

df = pd.read_csv(config['data_raw']['file3'])

df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54608.0,55811.0,56682.0,57475.0,58178.0,58782.0,...,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0,106445.0,106277.0,NaN
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130692579.0,134169237.0,137835590.0,141630546.0,145605995.0,149742351.0,...,600008424.0,616377605.0,632746570.0,649757148.0,667242986.0,685112979.0,702977106.0,720859132.0,739108306.0,NaN
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8622466.0,8790140.0,8969047.0,9157465.0,9355514.0,9565147.0,...,33753499.0,34636207.0,35643418.0,36686784.0,37769499.0,38972230.0,40099462.0,41128771.0,42239854.0,NaN
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,97256290.0,99314028.0,101445032.0,103667517.0,105959979.0,108336203.0,...,408690375.0,419778384.0,431138704.0,442646825.0,454306063.0,466189102.0,478185907.0,490330870.0,502789511.0,NaN
4,Angola,AGO,"Population, total",SP.POP.TOTL,5357195.0,5441333.0,5521400.0,5599827.0,5673199.0,5736582.0,...,28127721.0,29154746.0,30208628.0,31273533.0,32353588.0,33428486.0,34503774.0,35588987.0,36684202.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Population, total",SP.POP.TOTL,990150.0,1014211.0,1038618.0,1063175.0,1087700.0,1111812.0,...,1788196.0,1777557.0,1791003.0,1797085.0,1788878.0,1790133.0,1786038.0,1768086.0,1756374.0,NaN
262,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,5542459.0,5646668.0,5753386.0,5860197.0,5973803.0,6097298.0,...,28516545.0,29274002.0,30034389.0,30790513.0,31546691.0,32284046.0,32981641.0,33696614.0,34449825.0,NaN
263,South Africa,ZAF,"Population, total",SP.POP.TOTL,16520441.0,16989464.0,17503133.0,18042215.0,18603097.0,19187194.0,...,55876504.0,56422274.0,56641209.0,57339635.0,58087055.0,58801927.0,59392255.0,59893885.0,60414495.0,NaN
264,Zambia,ZMB,"Population, total",SP.POP.TOTL,3119430.0,3219451.0,3323427.0,3431381.0,3542764.0,3658024.0,...,16248230.0,16767761.0,17298054.0,17835893.0,18380477.0,18927715.0,19473125.0,20017675.0,20569737.0,NaN
265,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3806310.0,3925952.0,4049778.0,4177931.0,4310332.0,4447149.0,...,14154937.0,14452704.0,14751101.0,15052184.0,15354608.0,15669666.0,15993524.0,16320537.0,16665409.0,NaN

In [56]:
#droping trash columns

df = df.drop(["Country Name","Indicator Name","Indicator Code","Unnamed: 68"],axis=1)

In [57]:
#remaning col
df = df.rename(columns={'Country Code': 'country_code'})

In [58]:
#drop years that wont be used

#cleaning 19**
for x in range(6,10):
    for y in range(1,10):
        drop_year = str(19)+str(x)+str(y)
        df.drop(drop_year, axis=1, inplace= True)

In [59]:

#cleaning 20**
for x in range(0,2):
    for y in range(1,10):
        drop_year = str(20)+str(x)+str(y)
        df.drop(drop_year, axis=1, inplace= True)

In [60]:
#missing 3 columns

df.drop(["2021", "2022", "2023"], axis=1, inplace= True)

In [61]:
#drop missing values
df.dropna(inplace=True)

In [62]:
#correcting data types for colums
df["1960"] = df["1960"].astype(int)
df["1970"] = df["1970"].astype(int)
df["1980"] = df["1980"].astype(int)
df["1990"] = df["1990"].astype(int)
df["2000"] = df["2000"].astype(int)
df["2010"] = df["2010"].astype(int)
df["2020"] = df["2020"].astype(int)

In [63]:
# droping index column and set country_name as index
df = df.set_index("country_code")

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 264 entries, ABW to ZWE
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1960    264 non-null    int64
 1   1970    264 non-null    int64
 2   1980    264 non-null    int64
 3   1990    264 non-null    int64
 4   2000    264 non-null    int64
 5   2010    264 non-null    int64
 6   2020    264 non-null    int64
dtypes: int64(7)
memory usage: 16.5+ KB

In [65]:
#saving cleaned data frame
df.to_csv('../data/clean/tourism_data.csv')