In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('Mini_project/goal15.forest_shares.csv')

df

    iso3c  forests_2000  forests_2020  trend
0     AFG           1.9           1.9    0.0
1     ALB          28.1          28.8    2.5
2     DZA           0.7           0.8   14.3
3     ASM          88.7          85.7   -3.4
4     AND          34.0          34.0    0.0
..    ...           ...           ...    ...
232   ESH           2.5           2.5    0.0
233   WLD          31.9          31.2   -2.2
234   YEM           1.0           1.0    0.0
235   ZMB          63.3          60.3   -4.7
236   ZWE          47.5          45.1   -5.1

[237 rows x 4 columns]

In [5]:
df.isnull()

     iso3c  forests_2000  forests_2020  trend
0    False         False         False  False
1    False         False         False  False
2    False         False         False  False
3    False         False         False  False
4    False         False         False  False
..     ...           ...           ...    ...
232  False         False         False  False
233  False         False         False  False
234  False         False         False  False
235  False         False         False  False
236  False         False         False  False

[237 rows x 4 columns]

In [6]:
df.isna().sum()

iso3c            0
forests_2000     0
forests_2020     0
trend           10
dtype: int64

In [7]:
df.rename(columns={'iso3c': 'country_code'}, inplace=True)

In [8]:
df.dropna(how='all', inplace=True)

In [9]:
df

    country_code  forests_2000  forests_2020  trend
0            AFG           1.9           1.9    0.0
1            ALB          28.1          28.8    2.5
2            DZA           0.7           0.8   14.3
3            ASM          88.7          85.7   -3.4
4            AND          34.0          34.0    0.0
..           ...           ...           ...    ...
232          ESH           2.5           2.5    0.0
233          WLD          31.9          31.2   -2.2
234          YEM           1.0           1.0    0.0
235          ZMB          63.3          60.3   -4.7
236          ZWE          47.5          45.1   -5.1

[237 rows x 4 columns]

In [10]:
df.isna ()

     country_code  forests_2000  forests_2020  trend
0           False         False         False  False
1           False         False         False  False
2           False         False         False  False
3           False         False         False  False
4           False         False         False  False
..            ...           ...           ...    ...
232         False         False         False  False
233         False         False         False  False
234         False         False         False  False
235         False         False         False  False
236         False         False         False  False

[237 rows x 4 columns]

In [13]:
df.rename(columns={'forests_2000': 'forests_2000_(%)', 'forests_2020': 'forests_2020_(%)', 'trend': 'trend_(%)'}, inplace=True)

In [14]:
df

    country_code  forests_2000_(%)  forests_2020_(%)  trend_(%)
0            AFG               1.9               1.9        0.0
1            ALB              28.1              28.8        2.5
2            DZA               0.7               0.8       14.3
3            ASM              88.7              85.7       -3.4
4            AND              34.0              34.0        0.0
..           ...               ...               ...        ...
232          ESH               2.5               2.5        0.0
233          WLD              31.9              31.2       -2.2
234          YEM               1.0               1.0        0.0
235          ZMB              63.3              60.3       -4.7
236          ZWE              47.5              45.1       -5.1

[237 rows x 4 columns]

In [17]:
df.rename(columns = {'trend_(%)' : 'percentage_change'}, inplace = True)

In [18]:
df

    country_code  forests_2000_(%)  forests_2020_(%)  percentage_change
0            AFG               1.9               1.9                0.0
1            ALB              28.1              28.8                2.5
2            DZA               0.7               0.8               14.3
3            ASM              88.7              85.7               -3.4
4            AND              34.0              34.0                0.0
..           ...               ...               ...                ...
232          ESH               2.5               2.5                0.0
233          WLD              31.9              31.2               -2.2
234          YEM               1.0               1.0                0.0
235          ZMB              63.3              60.3               -4.7
236          ZWE              47.5              45.1               -5.1

[237 rows x 4 columns]

In [19]:
df.dropna(how='any', inplace=True)

In [21]:
df.head (50)

   country_code  forests_2000_(%)  forests_2020_(%)  percentage_change
0           AFG               1.9               1.9                0.0
1           ALB              28.1              28.8                2.5
2           DZA               0.7               0.8               14.3
3           ASM              88.7              85.7               -3.4
4           AND              34.0              34.0                0.0
5           AGO              62.3              53.4              -14.3
6           AIA              61.1              61.1                0.0
7           ATG              21.5              18.5              -14.0
8           ARG              12.2              10.4              -14.8
9           ARM              11.7              11.5               -1.7
10          ABW               2.3               2.3                0.0
11          AUS              17.2              17.4                1.2
12          AUT              46.5              47.3                1.7
13          AZE              12.0              13.7               14.2
14          BHS              50.9              50.9                0.0
15          BHR               0.5               0.9               80.0
16          BGD              14.8              14.5               -2.0
17          BRB              14.7              14.7                0.0
18          BLR              40.8              43.2                5.9
19          BEL              22.0              22.8                3.6
20          BLZ              64.0              56.0              -12.5
21          BEN              36.7              27.8              -24.3
22          BMU              18.5              18.5                0.0
23          BTN              65.5              71.4                9.0
24          BOL              50.9              46.9               -7.9
25          BES               5.9               5.9                0.0
26          BIH              41.2              42.7                3.6
27          BWA              31.1              26.9              -13.5
28          BRA              65.9              59.4               -9.9
29          VGB              24.5              24.1               -1.6
30          BRN              75.3              72.1               -4.2
31          BGR              30.5              35.9               17.7
32          BFA              26.4              22.7              -14.0
33          BDI               7.6              10.9               43.4
34          CPV               9.9              11.3               14.1
35          KHM              61.1              45.7              -25.2
36          CMR              45.7              43.0               -5.9
37          CAN              38.8              38.7               -0.3
38          CYM              53.9              53.0               -1.7
39          CAF              36.8              35.8               -2.7
40          TCD               5.0               3.4              -32.0
41          CHL              21.3              24.5               15.0
42          CHN              18.8              23.3               23.9
43          COL              56.5              53.3               -5.7
44          COM              22.4              17.7              -21.0
45          COG              65.0              64.3               -1.1
46          COK              64.9              65.0                0.2
47          CRI              56.0              59.4                6.1
48          CIV              16.0               8.9              -44.4
49          HRV              33.7              34.6                2.7

In [22]:
df

    country_code  forests_2000_(%)  forests_2020_(%)  percentage_change
0            AFG               1.9               1.9                0.0
1            ALB              28.1              28.8                2.5
2            DZA               0.7               0.8               14.3
3            ASM              88.7              85.7               -3.4
4            AND              34.0              34.0                0.0
..           ...               ...               ...                ...
232          ESH               2.5               2.5                0.0
233          WLD              31.9              31.2               -2.2
234          YEM               1.0               1.0                0.0
235          ZMB              63.3              60.3               -4.7
236          ZWE              47.5              45.1               -5.1

[227 rows x 4 columns]

In [23]:
df.to_csv('cleaned_data.csv', index=False)